body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:46px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:Helvetica, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#bfbfbf;
	font-family:"Helvetica Neue", sans-serif;
	font-size:250px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#bfbfbf;
	font-family:"Helvetica Neue", sans-serif;
	font-size:60px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	display:inline-block;
	height:767px;
	width:1023px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:278.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:184.00px;
	z-index:0;
}
#_idContainer004 {
	-ms-transform:translate(62.500px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.500px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(62.500px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.500px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:64.00px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(118.000px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(118.000px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(118.000px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(118.000px,185.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:48.00px;
	z-index:2;
}
#_idContainer006 {
	display:inline-block;
	height:278px;
	position:relative;
	width:184px;
}
#_idContainer008 {
	display:inline-block;
	height:15px;
	width:15px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
